{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Futures | AiProduction</title>
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

</head>
<body>
    {% include "header.html" %}

    </div>
    <div class="row column">
        <p class="lead">Briefly about the site pages</p>
    </div>

    <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column">
            <div class="callout">
                <p>NFT Certificate</p>
                <p><img src="{% static 'images/nft.webp' %}" alt="aipro NFT"></p>
                <p class="lead">New Level Certificate</p>
                <p class="subheader">Uzinfocom is the first integrator of uz domain names, providing nft certificates.<br>We create unique IT solutions that help society and our partners achieve their goals, provide comfort and fill life with new opportunities.<br>Writes,
Chief Executive Officer<br>
LLC "Single integrator <a href="https://uzinfocom.uz/en/about/19" target="_blank">UZINFOCOM</a>"</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p>Hello, World!</p>
                <p><img src="{% static 'images/ailogo.png' %}" alt="Aipro Admin hero"></p>

                <p class="subheader">Hi. My name is Timur Marufhodjaev. On this site, I will be managing the character Dave Minchen. Learn more about our project and team on the <a href="/team">About Us</a>.</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>SERVICE</p>
                <p><img src="{% static 'images/meme-service.jpg' %}" alt="Apro Service"></p>
                <p class="lead">Managing your IT department</p>
                <p class="subheader">Now, when a business needs an IT department, we come to the rescue. We will put your IT department to work.</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>NEWS</p>
                <p><img src="{% static 'images/news.jpg' %}" alt="Aipro News"></p>
                <p class="lead">There will be interesting news</p>
                <p class="subheader">We are not a news site, we will not write news daily. On this site we will post the news that we found interesting and useful.</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>INTERESTING</p>
                <p><img src="{% static 'images/interesting.jpg' %}" alt="Aipro Interesting"></p>
                <p class="lead">It will be interesting here</p>
                <p class="subheader">The interesting page will be filled with interesting facts and interesting discoveries from the IT world</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p>TRADING</p>
                <p><img src="{% static 'images/trading.webp' %}" alt="Aipro trading"></p>
                <p class="lead">About trading or for Traders</p>
                <p class="subheader">Trading - the page will be of interest not only to traders. Here we will post something interesting about trading.</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <p>EVENTS</p>
                <p><img src="{% static 'images/event.webp' %}" alt="Aipro event"></p>
                <p class="lead">Events</p>
                <p class="subheader">A page where we will remind you about our community events, meetings, etc.<br>Soon.</p>
            </div>
        </div>

        <div class="column">
            <div class="callout">
                <p><a href="/blog">BLOG</a></p>
                <p><img src="{% static 'images/blog2.webp' %}" alt="Aipro Blog"></p>
                <p class="lead">Articles from the author</p>
                <p class="subheader">On the blogs page, I will write articles like on wall newspapers, once a week for now. Join us to write.</p>
            </div>
        </div>


        <div class="column">
            <div class="callout">
                <p>ABMULANCE</p>
                <p><img src="{% static 'images/forum.webp' %}" alt="Aipro Forum"></p>
                <p class="lead">First aid for a programmer</p>
                <p class="subheader">When you have problems with programming, asking questions is the fastest way to find answers and solutions.</p>
            </div>
        </div>
    </div>
    <div class="row column">
        <a class="button hollow expanded">End of list. Join me, we'll build something big</a>
    </div>

    {% include "footer.html" %}
    <script src="{% static 'foundation/jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
