{% load static %}
    <div class="row">

        <div class="medium-7 large-6 columns">
            <h3>Welcome to AiPro — your unique IT testing ground!</h3>
            <p class="subheader">Here every developer will find space to grow, learn and solve technical problems. Regardless of your specialization, be it programming, trading or data analysis, our project offers endless opportunities for sharing knowledge and experience. Discuss the latest trends, find answers to complex questions and stay up to date with global IT news. Join our community of talented professionals and move technology forward together!</p>

        </div>
        <div class="show-for-large large-3 columns">
            <img src="{% static 'logo/ailogo.png' %}" alt="Aitem Intellex">
        </div>
        <div class="medium-5 large-3 columns">
    <div class="callout secondary">
      <form>
        <div class="row">
          <div class="small-12 columns">
          <h5>"Minimum Viable Product" (MVP)</h5>
            <label>Sayt, test rejimida ishga tushirildi.
            </label>
          </div>
          <div class="small-12 columns">
            <label>Debug = true o'chirilmagan.<br>Vaqtinchalik xatoliklar kuzatilishi mumkin.<br>Python 3.12.2<br>Django==4.0
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>
    <div class="row column">
        <hr>
    </div>
