{% extends 'base.html' %}
{% block title %}All blogposts in a row | AiProduction{% endblock title %}
{% block content %}
    {% for post in page_obj %}
        <div class="blog-post">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="meta">Опубликовано: {{ post.published_date|date:"d M Y H:i" }}<br>Автор: {{ post.author }}</p>
            <div class="blog-content">
                {{ post.content.html|safe|truncatewords_html:100 }}
            </div>
        </div>
    {% endfor %}
    <nav class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="prev">Предыдущая страница</a>
        {% endif %}
        <span class="current-page">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next">Следующая страница</a>
        {% endif %}
    </nav>
{% endblock %}
